.App {
	text-align: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.stretch {
	align-content: stretch;
}

.flex-start {
	align-content: flex-start;
}

.flex-end {
	align-content: flex-end;
}

.center {
	align-content: center;
}

.space-between {
	align-content: space-between;
}

.space-around {
	align-content: space-around;
}

/* Flex Container */
.container {
    max-width: 819px;
    height: 720px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
}

/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* https://origamid.com/projetos/flexbox-guia-completo/ */
